<form action='/create' method='post'>
  <p><input type='text' name='post[query]' title='Query Term' size=55 /></p>	
  <p><input type='text' name='post[filename]' title='Filename' size=20 /></p>
  <input type='submit' value='Trilyun Search' />
</form>